In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Visadataset.csv')
df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

select numerical columns

In [3]:
df.select_dtypes(exclude = 'object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [4]:
len(df['prevailing_wage'])

25480

In [5]:
max(df['prevailing_wage'])

319210.27

In [6]:
df['prevailing_wage'].max()

319210.27

In [7]:
np.max(df['prevailing_wage'])

319210.27

**min**

In [8]:
min(df['prevailing_wage'])

2.1367

In [9]:
np.min(df['prevailing_wage'])

2.1367

In [10]:
df['prevailing_wage'].min()

2.1367

**mean**

In [11]:
df['prevailing_wage'].mean()

74455.81459209183

In [12]:
np.mean(df['prevailing_wage'])

74455.81459209183

**median**

- same as mean

**std**

In [14]:
np.std(df['prevailing_wage'])

52814.90589711402

In [15]:
df['prevailing_wage'].std()

52815.94232687357

**mode is not a good option becuz it is numerical**

In [17]:
wage_count = len(df['prevailing_wage'])
wage_max = df['prevailing_wage'].max()
wage_min = df['prevailing_wage'].min()
wage_mean = df['prevailing_wage'].mean()
wage_median = df['prevailing_wage'].median()
wage_std = df['prevailing_wage'].std()
list_values = [wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
index = ['count','max','min','mean','median','std']
pd.DataFrame(list_values, columns=['prevailing_wage'] , index= index)

        prevailing_wage
count      25480.000000
max       319210.270000
min            2.136700
mean       74455.814592
median     70308.210000
std        52815.942327